.app_header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d1d1c9;
}

.app_header > form {
  width: 40%;
}

.text-input-wrapper {
  border: 1px solid #cbe7fd;
  border-radius: 15px;
  background: #eefaff;
  padding: 1px 6px 1px 1px;
  display: inline-block;
}

.task_input {
  font-size: 18px;
  font-weight: 500;
  color: #303030;
  border: none;
  background: none;
  outline: none;
  margin: 0 0;
  padding: 8px 12px;
}

.text-input-wrapper span {
  font-size: 18px;
  margin: 0 3px 0 0;
  padding: 0 5px;
  border: 1px solid #fecac9;
  border-radius: 15px;
  cursor: pointer;
  color: red;
  background-color: #fff4f4;
  font-weight: bold;
  visibility: hidden;
}

.task_form_bottom_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #c7ecff;
  border-radius: 5px;
  padding: 2px 10px;
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.tag:hover {
  outline: 1px solid #d0e9fc;
}

.tag.selected {
  background-color: #a2efa6;
}

.task_status {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #ffdbc7;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  padding: 0 5px;
  margin-top: 5px;
  cursor: pointer;
}

.task_status:focus {
  outline: 2px solid #fcded0;
}

.submit {
  font-size: 16px;
  font-weight: 500;
  background-color: #6457f9;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 30px;
  padding: 3px 13px;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}
